{% set welcome_id = 'id_welcome_teacher' %}

<div id="{{ welcome_id }}" class="text-center">
	<h1 class="color-env">{{ TEXT.welcome['teacher_greet_h_x']|replace({'{x}':user.first_name}) }}</h1>
	<h2>{{ TEXT.welcome['teacher_greet_text1']|nl2br }}</h2>
	<h2>{{ TEXT.welcome['teacher_greet_text2']|nl2br }}</h2>
	<h2>{% spaceless %}
		<button type="button" class="btn btn-default btn-lg" id="{{ welcome_id }}_add_students_btn">{{ ICONS.mnu['add_students']|raw }} {{ TEXT.label['add_students'] }}</button>
		<button type="button" class="btn btn-default btn-lg" id="{{ welcome_id }}_refresh_btn">{{ ICONS.btn['refresh']|raw }} {{ TEXT.label['refresh'] }}</button>
	{% endspaceless %}</h2>
	<span class="note">{{ TEXT.welcome['teacher_greet_note'] }}</span>
</div>