{% extends "admin_components/form.html.twig" %}

{% set form_id = 'id_form_reset_password' %}
{% set form_class = 'form' %}
{% set form_action = form_url %}
{% set form_method = 'POST' %}

{% set js_admin_components = [
	'forms/signup'
] %}	

{% block form_content %}
		<div class="form-group">
			<input type="password" name="password" required="required" class="form-control input-lg" id="{{ form_id }}_password_input" placeholder="{{ TEXT.hint['password'] }}" />
		</div>

		<div class="form-group">
			<input type="password" name="password_confirm" required="required" class="form-control input-lg" id="{{ form_id }}_password_confirm_input" placeholder="{{ TEXT.signup['confirm_password'] }}" />
		</div>
		<div class="form-group">
			<button type="submit" class="form-control btn btn-info" id="{{ form_id }}_reset_password_btn">Reset Password</button>
		</div>
		<div class="text-left">
			<div class="alert hidden" role="alert" id="{{ form_id }}_alert_status"></div>
		</div>
{% endblock %}

{% block form_modals %}
{% endblock %}